<div class="row">
    <mat-divider>
    </mat-divider>
    <h4 class="center-align">Reading List</h4>
    <mat-divider>
    </mat-divider>
    <mat-card>
      <h5 class="center-align">
        This is a list of the books that have impacted me personally and professionally
      </h5>
      div.col.s12
      <ul class="center-align">
        <li>How to Win Friends & Influence People -By Dale Carnegie</li>
        <li>Between the World and Me -By Ta-Nehisi Coates</li>
        <li>The Inevitable: Understanding the 12 Technological Farces that Will Shape Our Future -By Kevin Kelly</li>
        <li>A People's History of the United States -By Howard Zinn</li>
        <li>The 7 Habits of Highly Effective People -By Stephen R. Covey</li>
        <li>A Mind for Numbers -By Barbara Oakley, Ph.D.</li>
        <li>Elon Musk -By Ashlee Vance</li>
        <li>The Power of Habit -By Charles Duhigg</li>
        <li>Blockchain Revolution -By Don & Alex Tapscott</li>
        <li>Algorithms to Live By -By Brian Christian, Tom Griffiths</li>
        <li>Infinite Progress: How the Internet & Technology Will End Ignorance, Disease, Poverty, Hunger, and War -By Byron Reese</li>
        <li>White Like Me: Reflections on Race From a Privileged Son -By Tim Wise</li>
        <li>Abundance: The Future is Better Than You Think -By Steven Kotler, Peter H. Diamandis</li>
        <li>What Technology Wants -By Kevin Kelly</li>
        <li>Grit: The Power of Passion and Perserverance -By Angela Duckworth</li>
        <li>Hit Refresh: The Quest to Rediscover Microsoft's Soul and Imagine a Better Future for Everyone -By Satya Nadella</li>
        <li>Homo Deus: A Brief History of Tomorrow -By Yuval Noah Harari</li>
        <li>Life 3.0: Being Human in the Age of Artificial Intelligence -By Max Tegmark</li>
        <li>The Subtle Art of Not Giving a F*** -By mark Manson</li>
        <li>Factfulness -By Ola, Hans & Anna Rosling</li>
        <li>Cracking the Tech Career -By Gayle Laakman McDowell</li>
        <li>The Second Machine Age: Work, Progress, and Prosperity in a Time of Brilliant Technologies -By Erik Brynjolfsson, Andrew McAfee</li>
        <li>The 5 Second Rule -By Mel Robbins</li>
        <li>The Alchemist -By Paulo Coelho</li>
        <li>Peak: Secrets from the New Science of Expertise -By Anders Ericsson, Robert Pool</li>
        <li>The Mastery of Self -By Don Miguel Ruiz Jr.</li>
        <li>White Fragility: Why It's So Hard for White People to Talk About Race -Robin Diangelo</li>
      </ul>
    </mat-card>
  </div>
  