<div class="row">
  <mat-divider>
  </mat-divider>
  <h4 class="center-align">Summary</h4>
  <mat-divider>
  </mat-divider>
  <div class="section"></div>
  <div class="row">
    <div class="col s12">
      <mat-card class="example-card">
        <mat-card-content>
          <p>
            I am a Computer Science & Software Engineering student, Full-stack web developer, and Army veteran (Top
            Secret Clearance 2006-2013) striving for a fulfilling career in software engineering. I am a lifelong
            learner and do not shy away from challenges; personally or professionally. The Army taught me discipline,
            leadership, and grit. As an LMT I strengthened my empathy, intuition, and comfort with others. I have a
            broad range of technical skills in web, software, and networking.
          </p>
          <p>I am looking forward to a career that allows me to make a positive impact on the world through our amazing
            technology.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
