<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Web Technologies</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>Deployment</li>
    <li>AWS</li>
    <li>HTML(5) / CSS(3)</li>
    <li>Materialize CSS</li>
    <li>Angular Material</li>
    <li>Bootstrap</li>
    <li>JQuery</li>
    <li>AJAX</li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Java</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>Java OOP</li>
    <li>Spring Tool Suite</li>
    <li>Spring Boot</li>
    <li>Spring MVC</li>
  </ul>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>JavaScript</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>Node</li>
    <li>Express</li>
    <li>Angular</li>
    <li>Sockets</li>
  </ul>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Python</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>Flask</li>
    <li>Django</li>
    <li>Jinja2</li>
  </ul>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6> Database</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>Mongoose</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Operating Systems</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ol>
    <li>Linux</li>
    <li>Mac</li>
    <li>Android</li>
    <li>iOS</li>
    <li>Windows</li>
  </ol>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Catalytic Skills</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ul>
    <li>
      <h6>Attitude</h6>
    </li>
    <li>Empathetic</li>
    <li>Friendly</li>
    <li>Considerate</li>
    <li>Respectful</li>
    <li>Honest</li>
    <li>Sense of Humor</li>
    <li>
      <h6>Leadership</h6>
    </li>
    <li>Conflict Management</li>
    <li>Project Management</li>
    <li>Delegation</li>
    <li>Facilitating</li>
    <li>
      <h6>Critical Thinking</h6>
    </li>
    <li>Adaptable</li>
    <li>Creative</li>
    <li>Design Sense</li>
    <li>Problem Solving</li>
    <li>Resourceful</li>
    <li>Lifelong Learner</li>
    <li>
      <h6>Communication</h6>
    </li>
    <li>Strong Writer</li>
    <li>Verbal Communication</li>
    <li>Presentation</li>



  </ul>
</mat-expansion-panel>
