<div class="row">
  <mat-divider>
  </mat-divider>
  <h4 class="center-align">Background</h4>
  <mat-divider>
  </mat-divider>
  <mat-card>
    <p>
      While I currently live in Seattle, WA, I grew up in Mississippi and North Carolina. I decided to
      join the Army National Guard upon graduation from high school. My job in the Army is best described as a general
      IT role. During my tours to Iraq, Afghanistan, and Kuwait I maintained and operated radio systems, satellite
      antennas, LANs, and computer hardware. I also performed System Administrator and helpdesk duties. I was promoted
      fairly quickly to Sergeant within 4 years giving me great experience with leadership and responsibility for other
      people and projects. After seven years in, I decided to forgo reenlistment.
    </p>
    <p>
      Between my Iraq and Afghanistan tours, I attended massage therapy school in Raliegh, NC. What a surprising
      switch! But I always had the idea of being a Massage Therapist in the back of my mind. After my separation from
      the military I started a full-time career in massage. It was great… for a while. I was very good at my work and
      it was a relaxing, stress-free job. My experiences in this field increased my empathy and skills working with
      clients to create treatment plans to achieve their body improvements. A few years into my massage career, I was
      unhappy with the lack of challenges and the impact on my body. With my background in IT from the Army and my love
      for tinkering with my own computers, I thought a career change into tech would be rewarding and enjoyable.
    </p>
    <p>
      I started my education journey at ITT Technical Institute in 2015 for Software Development. ITT gave me a great
      foundation in web and app development, but the school went bankrupt and closed a year into my time there.
      However, the most important thing I learned at ITT was that I could be a great student and didn’t need to limit
      myself to a technical degree. So immediately after the school closed, I applied to South Seattle College to
      complete my prerequisites for a B.S. in Computer Science. I completed the prerequisites in a couple of years and
      was accepted into the University of Washington for Fall 2018.
    </p>
    <p>
      Over the summer break between schools, I enrolled in Coding Dojo’s web development bootcamp. Over three months I
      learned three full web stacks using Python/Django, Java/Spring, and MEAN. Even though I went in with experience,
      it was still incredibly challenging. I graduated from this program in the top 5 percentile of Dojo students with
      a “black belt” in all three stacks. You can see my projects from the bootcamp under the projects tab.
    </p>
    <p>
      I am starting my first quarter at the University of Washington – Bothell and am very excited for the challenges
      to come!
    </p>
  </mat-card>
</div>
