<div class="row ">
  <mat-divider>
  </mat-divider>
  <h4 class="center-align">Skills</h4>
  <mat-divider>
  </mat-divider>
  <div class="section"></div>

  <mat-tab-group>
    <mat-tab label="Web Technologies">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>Deployment</li>
              <li>AWS</li>
              <li>HTML(5) / CSS(3)</li>
              <li>Materialize CSS</li>
              <li>Angular Material</li>
              <li>Bootstrap</li>
              <li>JQuery</li>
              <li>AJAX</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Java">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>Java OOP</li>
              <li>Spring Tool Suite</li>
              <li>Spring Boot</li>
              <li>Spring MVC</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="JavaScript">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>Node</li>
              <li>Express</li>
              <li>Angular</li>
              <li>Sockets</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Python">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>Flask</li>
              <li>Django</li>
              <li>Jinja2</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Database">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Mongoose</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Operating Systems">
      <div class="col s12">
        <mat-card>
          <mat-card-content>
            <ul class="center-align">
              <li>Linux</li>
              <li>Mac</li>
              <li>Android</li>
              <li>iOS</li>
              <li>Windows</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Attitude">
        <div class="col s12">
            <mat-card>
              <mat-card-content>
                <ul class="center-align">
                  <li>Empathetic</li>
                  <li>Friendly</li>
                  <li>Considerate</li>
                  <li>Respectful</li>
                  <li>Honest</li>
                  <li>Sense of Humor</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-tab>
    <mat-tab label="Leadership">
        <div class="col s12">
            <mat-card>
              <mat-card-content>
                <ul class="center-align">
                  <li>Conflict Management</li>
                  <li>Project Management</li>
                  <li>Delegation</li>
                  <li>Facilitating</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-tab>
    <mat-tab label="Critical Thinking">
        <div class="col s12">
            <mat-card>
              <mat-card-content>
                <ul class="center-align">
                  <li>Adaptable</li>
                  <li>Creative</li>
                  <li>Design Sense</li>
                  <li>Problem Solving</li>
                  <li>Resourceful</li>
                  <li>Lifelong Learner</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-tab>
    <mat-tab label="Communication">
        <div class="col s12">
            <mat-card>
              <mat-card-content>
                <ul class="center-align">
                    <li>Strong Writer</li>
                    <li>Verbal Communication</li>
                    <li>Presentation</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-tab> -->
  </mat-tab-group>
  <!-- <div class="row">

      <div class="col s6 m4 l3">
        <mat-card>
          <mat-card-content>
            <h6>Critical Thinking</h6>
            <ul>
              <li>Adaptable</li>
              <li>Creative</li>
              <li>Design Sense</li>
              <li>Problem Solving</li>
              <li>Resourceful</li>
              <li>Lifelong Learner</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col s6 m4 l3">
        <mat-card>
          <mat-card-content>
            <h6>Communication</h6>
            <ul>
              <li>Strong Writer</li>
              <li>Verbal Communication</li>
              <li>Presentation</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
    </div>
  </div> -->
</div>
