<div class="row">
  <nav class=" teal lighten-2 ">
      <div class="nav-wrapper ">
        <div class="col s7">
          <a href="#" class="brand-logo blue-grey-text text-darken-4 hide-on-med-and-up">SM</a>
          <a href="#" class="brand-logo blue-grey-text text-darken-4 hide-on-small-only">Shelby Mirziteh</a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down blue-grey-text text-darken-4">
          <li><a href="#" class="blue-grey-text text-darken-4">Shelby.Mirziteh@gmail.com</a></li>
          <li><a href="#" class="blue-grey-text text-darken-4">(206) 683-5918</a></li>
          <li><a  mat-icon-button [matMenuTriggerFor]="appMenu"> <mat-icon>more_vert</mat-icon>
          </a></li>
        </ul>
        <ul class="right hide-on-large-only">
          <li>
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
          </li>
        </ul>
      </div>
    </nav>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
  
  <div class="col sidePiece  teal lighten-2 hide-on-med-and-down">
    <ul class="blue-grey-text text-darken-4">
      <li>
        <h5>Skills</h5>
      </li>
      <li>Java</li>
      <li>JavaScript</li>
      <li>Python</li>
    </ul>
  </div>
  <div class="row">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
          <mat-tab label="Resume"> Resume </mat-tab>
          <mat-tab label="Bio"> Bio </mat-tab>
          <mat-tab label="Projects"> Projects </mat-tab>
          <mat-tab label="Contact">contact </mat-tab>
        </mat-tab-group>
  </div>





</div>
<router-outlet></router-outlet>
