<div class="row">
  <nav class=" teal lighten-2 ">
    <div class="nav-wrapper ">
      <div class="col s7">
        <a href="#" class="brand-logo blue-grey-text text-darken-4 hide-on-med-and-up"><span class="mobile-name">Shelby
            Mirziteh</span></a>
        <a href="#" class="brand-logo blue-grey-text text-darken-4 hide-on-small-only">Shelby Mirziteh</a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down blue-grey-text text-darken-4">
        <li><button class="btn-small btn-flat"> <a href="https://www.linkedin.com/in/smirziteh/"><img src="./images/linkedinIcon.png"
                alt="LinkedIn Link" class=" icons"></a> </button></li>
        <li><button class="btn-small btn-flat"> <a href="https://github.com/sMirziteh"><img src="./images/githubicon.png"
                alt="Github Link" class=" icons"></a> </button></li>
        <li><a href="mailto:shelby.mirziteh@gmail.com" class="blue-grey-text text-darken-4">Shelby.Mirziteh@gmail.com</a></li>
        <li><a href="tel:+12066835918" class="blue-grey-text text-darken-4">(206) 683-5918</a></li>
        <!-- <li><a  mat-icon-button [matMenuTriggerFor]="appMenu"> <mat-icon>more_vert</mat-icon>
          </a></li> -->
      </ul>
      <ul class="right hide-on-large-only">
        <li>
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon class="blue-grey-text text-darken-4">more_vert</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item class=" btn-flat"><a href="https://www.linkedin.com/in/smirziteh/"><img src="./images/linkedinIcon.png"
          alt="LinkedIn Link" class=" menuLink"></a></button>
    <button mat-menu-item class=" btn-flat"><a href="https://github.com/sMirziteh"><img src="./images/githubicon.png"
          alt="Github Link" class=" menuLink"></a></button>
    <a href="mailto:shelby.mirziteh@gmail.com" class="blue-grey-text text-darken-4"><button mat-menu-item>Email</button></a>
    <a href="tel:+12066835918" class="blue-grey-text text-darken-4"><button mat-menu-item>Phone</button></a>
  </mat-menu>
  <!-- <div class="col sidePiece   hide-on-med-and-down">
    <div class="section"></div>
    <app-tskills></app-tskills>
  </div> -->
  <div class="row">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Resume">
        <app-resume></app-resume>
      </mat-tab>
      <mat-tab label="Bio">
        <app-bio></app-bio>
      </mat-tab>
      <mat-tab label="Projects">
        <app-projects></app-projects>
      </mat-tab>
      <!-- <mat-tab label="Contact">contact </mat-tab> -->
    </mat-tab-group>
  </div>





</div>
<router-outlet></router-outlet>
