<div class="row">
  <h1>Resume!</h1>
</div>
<div class="row">
  <div class="col l5">
    <p>Python</p>  
      <div class="progress">
          <div class="determinate purple" style="width: 30%">
      </div>
        </div>  
        <p>JavaScript</p>  
        
        <div class="progress">
          <div class="determinate red" style="width: 50%"></div>
          
        </div>
        
        <p>Java</p>  
        <div class="progress">
          <div class="determinate green" style="width: 60%"></div>
          
        </div>
        <div class="progress">
            <div class="determinate blue" style="width: 10%"></div>
      </div>
  </div>
</div>
