<div class="row">
  <mat-divider>
  </mat-divider>
  <h4 class="center-align">Accomplishments & Recognition</h4>
  <mat-divider>
  </mat-divider>
  <div class="section"></div>
  <div class="col s12 m6 l6">
    <mat-card class="example-card">
      <mat-card-content>
        <ul>
          <li>"Black Belts" in 3 web development full stacks @ Coding Dojo</li>
          <br>
          <li>Highest Honors/President's/Deans lists (2015-2018)</li>
          <br>
          <li>Awarded National Science Foundation S-STEM scholarship (Spring ‘17)</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col s12 m6 l6">
    <mat-card class="example-card">
      <mat-card-content>
        <ul>
          <li>Completed and presented Internet of Things undergraduate research project at UW UGR Symposium (Fall’16 - Spring’17)</li>
          <br>
          <li>Phi Theta Kappa Honor Society</li>
          <br>
          <li>South Seattle College RST Academy</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
