<mat-divider>
</mat-divider>
<h4 class="center-align">Experience</h4>
<mat-divider>
</mat-divider>
<div class="section"></div>
<div class="row">
  <div class="col s12 m6 l6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Signal Support Systems Specialist/Sergeant (2006-2013)</mat-card-title>
        <mat-card-subtitle>Army National Guard – High Point, NC.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Responsible for network integration using radio, wire, satellite and battlefield automated systems.</li>
          <li>Manage automation setup, accountability, distribution and troubleshooting of information systems and devices valued
            at $653,727 assigned to the battalion.</li>
          <li>Managed team of 10 highly trained and professional soldiers.</li>
          <li>General IT help desk support.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col s12 m6 l6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Licensed Massage Therapist (2013-2018)</mat-card-title>
        <mat-card-subtitle>LaVida Massage / Self-Employed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <ul>
              <li>Worked personally with hundreds of clients to achieve desired
                  results.</li>
              <li>Use in-depth knowledge of anatomy and physiology to treat
                  client’s muscular health concerns.</li>
              <li>Document client health and structural problems, create treatment
                  plans, and track improvements.</li>
            </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
